# Cliente HTTP y Scraping
requests==2.31.0
beautifulsoup4==4.12.2
selenium>=4.5.0
webdriver-manager>=3.8.4

# Procesamiento de imágenes
Pillow>=9.4.0

# Formateo y CLI
colorama>=0.4.5
argparse>=1.4.0
pyyaml==6.0.1

# Base de datos
psycopg2-binary>=2.9.5  # Adaptador PostgreSQL (versión binaria para facilitar instalación)

# Multithreading y procesamiento paralelo
futures>=3.0.5

# Utilidades
pytest>=7.2.0
python-dotenv>=0.21.0
